.role-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-group {
  width: 130px;
}
.input-group-text {
  width: 75px;
}
.deal-result {
  padding: 10px;
}

.deal-btn {
  width: 100px;
  margin: 20px;
}
.card-body {
  background-color: #fff5eb;
}
